[submodule "client-cpp"]
	path = client-cpp
	url = https://github.com/ArtemSpider/GameConnectionCpp.git
[submodule "client-rust"]
	path = client-rust
	url = https://github.com/ArtemSpider/GameConnectionRust.git
[submodule "server-ts"]
	path = server-ts
	url = https://github.com/ArtemSpider/GameConnectionServer_TS.git
